.sidebar {
  position:fixed;
  top: 55px;
  left: 0px;
  bottom: 0px;
  width: 72px;
  background-color: white;
  color: black;
z-index: 200;
padding-top: 5px  ;
}
.side-bar-link {
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.side-bar-link:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.side-bar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.side-bar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}